<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar', { page: '/about' }) %>
    <!-- Hero Section -->
    <div class="container mx-auto my-12 text-center">
        <div class="hero bg-gray-800 text-white p-8 rounded">
            <div class="max-w-md mx-auto">
                <h1 class="text-4xl font-bold block">About Me</h1>
                <div class="my-4"></div>
                <p class="mt-4 block">Everything you want to know about me</p>
            </div>
        </div>
    </div>
    <!-- About Content -->
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="w-full">
            <img src="/images/profile.jpg" alt="Profile Image" 
                 class="w-full h-auto max-h-[500px] object-cover rounded-lg shadow-lg">
        </div>
        
        <div class="text-center md:text-left">
            <p>Hi, I'm Yogiraj Mehta! I'm currently a student at Seneca College.</p>
            <br>
            <p>I am passionate about expanding my knowledge in the field of technology and web development. I enjoy working on projects that allow me to learn and grow, particularly in the areas of Node.js, Express.js, and web design.</p>
            <p>Outside of my studies, I actively participate in various sports including football, cricket, volleyball, and swimming. These activities help me stay active, build teamwork skills, and maintain a healthy work-life balance. Whether it's on the field or in the pool, I enjoy the challenge and camaraderie that comes with being part of a team.</p>
        </div>
    </div>
    
</body>
</html>
